// BASE
$color-black: #232323;
$color-white: #fcfcfc;
$color-green: #008080;
$color-red: #f00;
$color-accent: #a7a7a7;
$color-outline: rgba(0, 123, 255, 0.5);
$color-box-shadow: rgba(0, 0, 0, 0.25);

// CONTENT
$color-body-bg: $color-black;
$color-body-bg-light: $color-white;
$color-text-primary: $color-white;
$color-text-secondary: #626262;
$color-heading-text: $color-text-primary;
$color-primary: #ef6f6c;
$color-secondary: #465677;
